<div class="form">
  <%= form_for(@question) do |f| %> <% if @question.errors.any? %> <div class="form__errors"> <ul> <% @question.errors.full_messages.each do |message| %>
              <li class="form__error__message flash-error"><%= message %>
            <svg width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
              </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :user_id %>

    <% if current_user.present? && current_user == @question.user %>
      <div class="form__field">
        <%= f.label :answer, 'Ответ', class: 'form__label' %>
        <%= f.text_area :answer, class: 'form__textarea question-form__textarea' %>
      </div>
    <% end %>

    <div class="form__action buffer-both">
      <%= f.submit 'Сохранить', class: 'btn btn-dark' %>
    </div>
  <% end %>
</div>
