<div class="question" style="background-color: <%= question.color %>">
  <h4 class="question__text">
    <%= question.text %>
  </h4>
  <span class="question__date">
    <%= l(question.created_at, format: :short) %>
  </span>
  <% if question.answer.present? %>
    <p class="question__answer">
      <%= question.answer %>
    </p>
  <% end %>

  <% if question.tags.present? %>
    <%= question.tags.map { |t| link_to "##{t.title}", tag_path(t.id) }.join(', ').html_safe %>
  <% end %>

  <% if question.user == current_user %>
    <div class="qeustion__actions">
      <%= link_to 'Удалить', question_path(question), method: :delete,
          data: { confirm: 'Уверены, что хотите удалить вопрос'}, class: 'btn' %>
      <% unless question.answer.present? %>
        <%= link_to 'Редактировать', edit_question_path(question), class: 'btn' %>
      <% end %>
    </div>
  <% end %>
</div>
