<div class="user-page">
  <div class="user-page__header"> <div class="user-page__avatar"> <%= image_tag user_avatar(@user), alt: "[Avatar] #{@user.name}" %>
    </div>
    <div class="user-page__text">
      <h3 class="user-page__nickname">
        <%= @user.username %>
      </h3>
      <h2 class="user-page__title">
        <%= @user.name %>
      </h2>
      <p class="user-page__bio">
        <%= @user.description %>
      </p>
      <% if @user == current_user %>
        <%= link_to 'Редактировать профиль', edit_user_path(@user), class: 'btn', style: 'margin-top: 30px' %>
      <% else %>
        <button class="btn btn-question">Задать вопрос</button>
      <% end %>
    </div>
  </div>
</div>

<div class="question__form question-form">
  <%= form_for @new_question do |f| %>
    <%= f.hidden_field :user_id %>

    <div class="form-field">
      <%= f.label 'Цвет вашего блока профиля', class: 'form-label' %>
      <%= f.select :color, @colors, {},{class: 'question-form__select'} %>
    </div>

    <div class="form-field">
      <%= f.text_area :text, placeholder: 'Ваш вопрос...', class: 'question-form__textarea' %>
    </div>

    <div class="question-form__action">
      <%= submit_tag 'Задать вопрос', class: 'btn btn-dark' %>
    </div>
  <% end %>
</div>

<div class="questions-info">
  <span class="questions-info__count">
    Всего вопросов: <%= @questions.count %>
  </span>
</div>

<div class="questions">
  <% @questions.each do |question| %>
    <%= render partial: 'questions/question', object: question %>
  <% end %>
</div>

<%= javascript_pack_tag 'users' %>
