<!DOCTYPE html>
<html>
  <head>
    <title>Askmerails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </head>

<body>
  <header class="navbar">
    <div class="container">
      <div class="navbar__wrap row">
        <%= link_to 'Askmerails', root_path, class: 'navbar__logo' %>
        <div class="navbar__auth">
          <% if current_user %>
            <%= link_to 'Выход', log_out_path, class: 'btn navbar__btn' %>
            <%= link_to 'Мой профиль', user_path(current_user), class: 'btn navbar__btn' %>
          <% else %>
            <%= link_to 'Зарегестрироваться', sign_up_path, class: 'btn navbar__btn' %>
            <%= link_to 'Войти', log_in_path, class: 'btn navbar__btn' %>
          <% end %>
        </div>
      </div>
    </div>
    
  </header>
  
  <div class="content">
    <div class="container">
      <% if flash.any? %>
        <div class="flash">
          <% flash.each do |name, message| %>
            <%= content_tag :div, message, class: "flash-message flash-#{name}" %>
          <% end %>
        </div>        
      <% end %> 
      <%= yield %>
    </div>
  </div>
  
</body>
</html>
